@media all and (max-width: 1100px) {
	.sidebar {
		display: none;
	}
}
@media all and (max-width: 1020px) {
	article img { width: 100%; }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px); }
}
@media all and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
body { max-width: 320px; }
article > * { width: calc(100% - 40px); }
article > p { font-size: 15px;
	line-height: 24px;}
article h1 + p{font-size: 17px; line-height: 24px;}
article h1 {font-size: 24px;}
article h2{font-size: 20px;margin-top: 30px;}
article h3{font-size: 17px;margin-top: 30px; line-height: 24px;}
article li{font-size: 15px;line-height: 24px;}
article q{font-size: 15px; line-height: 24px;}
article img + p { margin-top: 30px; margin-bottom: 30px;}
article img {margin-top: 30px;margin-bottom: 30px;}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* iPhone Landscape */
	article > * { width: 500px; }
	article  p  {
		font-size: 15px;
		line-height: 24px;
	}
	article h1 + p{font-size: 17px; line-height: 24px;}
	article h1 {font-size: 24px;}
	article h2 {font-size: 20px;}
	article h3{font-size: 17px;line-height: 24px;}
	article li{font-size: 15px;line-height: 24px;}
	/* article img + p { margin-top: 30px; margin-bottom: 30px;} */
	article img {margin-bottom:  0px;}
	article q {font-size: 15px;line-height: 24px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
	article > * {min-width: 768; max-width: 1024}
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: 690px; }
article p {font-size: 17px;
	line-height: 30px;
}
article h1 + p + q {font-size: 19px; line-height: 30px;}
article h1{font-size: 34px; line-height: 30px;}
article h2{font-size: 32px; line-height: 30px;}
article h3 {font-size: 19px; line-height: 30px;}
article q {font-size: 17px;
	line-height: 30px;}
article li, ul{font-size: 17px; line-height: 30px;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
article > * { width: 950px; }
article p {font-size: 17px;
	line-height: 30px;
}
article h1 + p  {font-size: 19px; line-height: 30px;}

article h1{font-size: 34px;line-height: 30px;}
article h2{font-size: 32px;line-height: 30px;}
article h3 {font-size: 19px;line-height: 30px;}
article q {font-size: 17px;line-height: 30px;}
article li{font-size: 17px;
		line-height: 30px;}
}


@media only screen and (min-width: 1280px) {
/* article img {width: 1020px;}
article > * {margin: 300px;} */
 }
